<h2>Organizers</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Organizers</td>
      <td><%= @organizers["organizer"] %></td>
    </tr>
    <tr>
      <td>Total</td>
      <td><%= @organizers["total"] %></td>
    </tr>
  </tbody>
</table>
