<h2>Topics</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
<%= for {name, amount} <- @topics do %>
    <tr>
      <td><%= name %></td>
      <td><%= amount %></td>
    </tr>
<% end %>
  </tbody>
</table>
