<h2>Edit topic</h2>

<%= render "form.html", changeset: @changeset,
                        action: topic_path(@conn, :update, @topic),
                        members: @members %>

<%= link "Back", to: topic_path(@conn, :index) %>
