<h2>Show membership</h2>

<ul>

  <li>
    <strong>Remote:</strong>
    <%= @membership.remote_id %>
  </li>

  <li>
    <strong>Group name:</strong>
    <%= @membership.group_name %>
  </li>

  <li>
    <strong>Organizer:</strong>
    <%= @membership.organizer %>
  </li>

  <li>
    <strong>Member:</strong>
    <%= @membership.member_id %>
  </li>
  
</ul>

<%= link "Edit", to: membership_path(@conn, :edit, @membership) %>
<%= link "Back", to: membership_path(@conn, :index) %>
